<section class="block">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fuga qui accusantium accusamus labore explicabo laudantium adipisci nam optio tenetur.   
    </p>
    <div style="width: 30%; padding: 4rem">
     <div class="card card--accent">
         <header class="card-header">Card Title</header>
         <div class="card__body"></div>
         Exercise bike that are using online technology are becoming more porpular
     </div>
  </div>   
</section>
<section class="block block--dark block--skewed-left">
 <h2 class="block__heading">Heading</h2>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fuga qui accusantium accusamus labore explicabo laudantium adipisci nam optio tenetur.</p>
</section>