<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint aut provident hic quas laboriosam iure dolore commodi. Illum inventore sequi atque natus repellat eum corrupti ipsam ullam sit molestias incidunt voluptas adipisci, excepturi qui architecto aut dolores enim et esse reprehenderit autem quae doloribus placeat! Labore veritatis sapiente eos deserunt?</p>
        </div>
        <a href="#" class="btn btn--secondary btn--long">Get Started</a>
    </div> 
</div>    
