<div style="width: 50%; padding: 4rem">
    <div class="plan">
        <div class="card card--accent">
            <header class="card-header">
                <h3 class="product__name">Exercise Bikes</h3>
                <span class="product__price">€2300.00</span> 
                <!-- <span class="product__bil-payment">reciept</span>  -->
                <span class="badge badge--accent badge--small">/10% discount on first order!</span>
                <br><span class="product__description">Exercise bike with smart technology installed</span></br>   
            </header>
            <div class="card__body"></div>
            <ul class="list list--tick">
                <li class="list-item">Customer rating</li>
                <li class="list-item">Online Ordering</li>
                <li class="list-item">Latest technology</li>
            </ul> 
            <button class="btn btn--outline btn--block">Reserve Now</button>  
        </div>
    </div>
</div> 

