<div class="card testimonial">
    <div class="grid grid--colsx2">
        <div class="testimonial__image">
            <img
            src="./images/weights1.jpg"
            alt="A selection of our weights"
            />
        </div>
        <ul class="list list--tick">
            <li class="list-item">FH Selections of weights</li>
            <li class="list-item">Product Details  </li>
            <li class="list-item">Customer rating</li>
            <li class="list-item">Customer Review</li>
            <li class="list-item">FH Price</li>
        </ul> 
        <button class="btn btn--outline btn--block">Reserve Now</button>
    </div>
</div>